@import '../../styles/breakpoints.scss';

.communicationWrap {
    margin: 170px 0;

    @include tablet {
        margin: 20px 0;
    }
}

.communicationTitle {
    font-size: 40px;
    margin-bottom: 26px;
    font-weight: 600;

    @include tablet {
        font-size: 20px;
    }
}

.communicationDescr {
    margin: 26px 0 38px;
}

.communicationBtn {
    background: linear-gradient(to bottom, #574DCC 0%, #579AFF 100%);
    padding: 20px 90px;
    border: none;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    color: white;
}